doctype html
html
  head
    title= title
    link(rel="icon" href="imgs/paddlefav.png")
    meta(charset="utf-8")
    meta(name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/jfunctions.js')
  body
    header.container
      nav.navbar.navbar-dark.bg-dark.navbar-expand-md.fixed-top
        a.navbar-brand(href='/') Ping Pong Dummies
        button.navbar-toggler.navbar-dark(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarsExampleDefault.navbar-collapse.collapse.show
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='#')
                | Rankings
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/players') Players
            li.nav-item
              a.nav-link(href='/create_match') Add Game
            li.nav-item
              a.nav-link(href='/matches') Match History
          ul.navbar-nav.navbar-right
            if user
              li
                a(href='/users/logout') Logout
            else
              li
                a.nav-link(href='/users/register') Register
              li
                a.nav-link(href='/users/login') Login
    br
    br
    .container
      != messages('message', locals)
      if errors
        each error in errors
          div(class='alert alert-danger') #{error.msg}
    block content
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")