extends layout

block content
	h1= title

	.pageCenter
		form(method="POST" action='')
			div.form-group
				label(for='first_name') First Name:
				input#first_name.form-control(type='text' placeholder='First Name (Bonnie)' name='first_name' required='true')
			div.form-group
				label(for='last_name') Last Name:
				input#family_name.form-control(type='text' placeholder='Last Name (Thayer)' name='last_name')
			button.btn.btn-primary(type='submit') Submit
			if errors
				ul
					for error in errors
						li!= error.msg